project:
  type: website
  output-dir: _site
  pre-render:
    prepare_full.py
  preview:
    port: 5057

website:
  title: "MathJoha"
  bread-crumbs: false
  # site-url: 'https://www.mathjoha.se'
  repo-url: 'https://github.com/mathjoha/about'
  repo-actions: [edit, issue]
  page-navigation: false
  search: false

  sidebar:
    background: secondary
    style: docked
    search: false
    contents:
      - text: "CV - short"
        href: cv/short.qmd
      - cv/experience.qmd
      - cv/projects.qmd
      - cv/education.qmd
      - output.qmd
      - cv/teaching.qmd

      - href: cv/full.qmd
        text: "CV - long"

format:
  html:
    theme: lux
    backgroundcolor: rgb(220, 220, 220)
    css: styles.css
    toc: true
