project:
  type: website
  pre-render:
    prepare_full.py
  preview:
    port: 5057

website:
  title: "MathJoha"
  bread-crumbs: false
  # site-url: 'fix'
  repo-url: 'https://github.com/mathjoha/about'
  repo-actions: [edit, issue]
  page-navigation: false
  search: false
  # navbar:
  #   background: primary
    # left:
      # - text: Home
      #   file: index.qmd

  sidebar:
    style: docked
    search: false
    contents:
      - href: about.qmd
        text: "Mathias Johansson"
      - section: "{{< ai cv >}}"
        href: cv/short.html
        contents:
          - cv/experience.qmd
          - cv/projects.qmd
          - cv/publications.qmd
          - cv/teaching.qmd
          - cv/education.qmd
      - section: Other
        contents:
          - href: code/python.qmd
            text: "{{< devicon python-plain >}} Python"


format:
  html:
    theme: slate
    css: styles.css
    toc: true
